{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
  "experimentalTernaries": true,
  "svelteBracketNewLine": false,
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
